body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.topLayer {
    display: flex;
    height: 100%;

    .infoBar {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        border-top: 5px solid #000;
        margin: 0;
    }

    .gameMenu {
        z-index: 999;
        width: 100px;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-basis: 10%;
        padding: 0 0 0 0;
        margin: 0 0 0 0;

        .menuIcon {
            width: 50px;
        }

        li {
            display: flex;
            text-decoration: none;
            list-style-type: none;
            margin: 0 0 0 0;
            padding: 0;
            flex-grow: 1;
            width: 100px;
            border-right-color: black;
            border-right-width: 5px;
            border-right-style: solid;
            justify-content: center;
            align-items: center;

            &:hover {
                border-right-color: rgba(0, 0, 0, 0);
                cursor: pointer;
            }
        }
    }

}

.tab {
    height: 100%;
    display: none;
}

.tabWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.infoBarWrapper {
    height: 10%;
    margin: 0;
    .infoBar {
        display: inline-flex;
        width: 100%;
        justify-content: start;
        align-items: center;

        .counters {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;
            align-items: center;
        }

        .progressbar {
            height: 30px;
            border-radius: 9px;
            border: solid 0.5px black;
            width: 600px;
            margin-left: 10px;
            flex-grow: 3;

            .progress {
                background-color: black;
                height: inherit;
                width: 0;
                border-radius: inherit;
            }
        }

        .money {
            display: flex;
            justify-content: end;
            color: white;
            margin: 0 5 0 5;
            padding: 5 5 5 5;
            border-radius: 9px;
            background: linear-gradient(45deg, rgb(0, 165, 0), rgb(0, 206, 0));
        }

        .research {
            color: white;
            padding: 5 5 5 5;
            border-radius: 9px;
            background: linear-gradient(45deg, rgb(0, 185, 185), cyan);
            margin: 0 5 0 5;
        }
    }
}

.tab-wrapper {
    height: 90%;
}

.bubble-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .bubble {
        width: 50px;
        height: 50px;
        background: #000;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    #tech-bubble {
        background-color: rgb(0, 132, 255);
    }

    #design-bubble {
        background-color: rgb(0, 255, 21);
    }

    #bug-bubble {
        background-color: rgb(255, 0, 0);
    }

    .bubble-text {
        color: #fff;
    }
}

.tab {
    #os-chart {
        width: 100%;
        height: 100%;
    }

    .add-wrapper {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }


    .add-tab-content {
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 95%;
        border: black solid 5px;
        border-radius: 10px;
        margin: 10 10 10 10;
        transition: all 0.2s ease-out;
        padding-left: 10px;
        padding-right: 10px;

        &:hover {
            border-width: 10px;
            font-style: 60px;
        }
    }

    .chart-wrapper {
        display: flex;
        border: solid 2px black;
        flex-grow: 1;
    }

    .top-wrapper {
        display: inline-flex;
        height: 50%;
        width: 100%;
    }

    .bottom-wrapper {
        display: inline-flex;
        height: 50%;
        width: 100%;
    }

    .trends {
        display: flex;
        flex-grow: 2;
    }
}

.border {
    //for debug and layout view
    border: solid 2px black;
}